{% extends 'base.html' %}

{% block main %}

<a href="/">Inicio</a>
<form action="{{url_for('edit_user', id=user['id'])}}" method="POST">
    <h2>Crear Usuario</h2>

    <label for="nombre">Ingresar Nombre</label>
    <input type="text" name="nombre" id="nombre" value="{{ user['nombre'] }}" placeholder="Ingresar Nombre">

    <label for="email">Ingresar Email</label>
    <input type="text" name="email" id="email" value="{{ user['email'] }}" placeholder="Ingresar email">

    <label for="phone">Ingresar telefono</label>
    <input type="text" name="telefono" id="phone" value="{{ user['telefono'] }}" placeholder="Ingresar telefono">

    <input type="submit" value="Editar Usuario">

</form>
{% endblock %}